Repository lab-brussels-1/HYF-redesign-group-2, pull requests merged in 2022-04, with the labels that each got.

#2 Communication plan
  index.html
  package-lock.json
  package.json
  planning/README.md
  planning/backlog.md
  planning/communication-plan.md
  planning/development-strategy.md
Labels: communication, planning

#4 constraints.md file added
  planning/constraints.md
Labels: constraints

#5 PR - Communication plan created
  planning/communication-plan.md
Labels: communication

#6 uploading Cristobal's availability
  .cspell.json
  planning/communication-plan.md
Labels: communication, planning

#10 Communication
  planning/communication-plan.md
Labels: communication, planning

#14 PR User persona added
  assets/anna-student.jpg
  assets/cody-sponsor.jpg
  assets/eileen-alumni.jpg
  assets/ha-volunteer.jpg
  planning/constraints.md
  planning/user-persona.md
Labels: user-persona

#19 PR Landing page
  index.html
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
  planning/communication-plan.md
  styles/index.css
Labels: HTML, CSS, Bootstrap

#21 PR Landingpage
  index.html
  styles/index.css
Labels: HTML, CSS, Bootstrap

#24 PR - Backlog
  README.md
  planning/backlog.md
Labels: planning, backlog

#25 user persona added to landing page
  .cspell.json
  index.html
  package.json
  planning/constraints.md
  styles/index.css
Labels: HTML, CSS, Bootstrap

#28 Contact form
  .DS_Store
  .cspell.json
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
  planning/.DS_Store
  planning/Design.png
  planning/design.md
  styles/index.css
Labels: Bootstrap, contact-form

#26 Uploading the design
  .DS_Store
  planning/.DS_Store
  planning/Design.png
  planning/design.md
Labels: communication, design

#30 PR Landingpage
  index.html
Labels: HTML, Bootstrap

#35 redesigning the form
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
  styles/index.css
Labels: Bootstrap, contact-form

#34 styling added to landing page
  assets/team.jpg
  index.html
  styles/index.css
Labels: Bootstrap

#37 footer update
  .cspell.json
  index.html
  styles/index.css
Labels: HTML, Bootstrap, footer

#40 PR landing page cosmetics and spellings
  index.html
Labels: HTML, Bootstrap, footer

#38 PR - Home page navbar statistic
  index.html
Labels: HTML, Bootstrap

#42 adding map to the contact section
  .cspell.json
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
  styles/index.css
Labels: Bootstrap, contact-form

#44 fixing the padding of the form
  pages/coach.html
  pages/sponsor.html
  pages/student.html
Labels: Bootstrap, contact-form

#45 adding a title to the map
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
  styles/index.css
Labels: Bootstrap, contact-form

#50 Home page edit
  index.html
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
Labels: HTML, home page

#54 Student page
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
Labels: HTML, CSS, student page

#53 Should haves pages
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
Labels: HTML, CSS, couch page, sponsor page, alumni page

#55 PR newsletter added to homepage
  index.html
  styles/index.css
Labels: HTML, CSS

#57 PR added description-Student
  pages/student.html
  styles/index.css
Labels: User persona-student

#52 files added
  .cspell.json
  .vscode/settings.json
  index.html
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
Labels: HTML, CSS, Bootstrap, footer

#64 Updating the design
  planning/DesignVersion2.png
  planning/design.md
Labels: communication, design

#67 PR added images
  .DS_Store
  assets/.DS_Store
  assets/bernardo.jpeg
  assets/daniel.jpeg
  assets/graphready.jpg
  assets/hyf.jpg
  assets/samir.png
  assets/student.png
  assets/tamer.jpeg
  pages/student.html
Labels: images

#69 Contact form
  .cspell.json
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
  styles/index.css
Labels: contact-form

#70 updating the relative path for the css sheet
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
Labels: contact-form

#72 changing relative path
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
Labels: HTML

#73 switching the path link
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
Labels: HTML

#74 adding two dots to the link path
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
Labels: HTML, contact-form

#75 fixing links in the navbar
  pages/alumni.html
Labels: alumni page

#77 fixing the CSS path in all the pages
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
Labels: HTML

#78 fixing link issues in the home page
  index.html
Labels: HTML

#79 fixing links in the coach page
  pages/coach.html
Labels: HTML

#80 spelling, paddings and margins
  pages/alumni.html
  pages/coach.html
  pages/sponsor.html
  pages/student.html
Labels: HTML, CSS, Bootstrap

#83 Coach image
  index.html
  package-lock.json
  package.json
  pages/coach.html
  styles/index.css
Labels: HTML, CSS, images

#85 Contact form update
  styles/index.css
Labels: contact-form

#90 image link fixed in coach page
  pages/coach.html
Labels: HTML

#92 Readmefile newupdate
  README.md
  assets/code-example.png
  assets/homepage.png
Labels: planning
